:root {
  --primary: #fa8c16;
  --link: #1890ff;
  --success: #52c41a;
  --error: #f5222d;

  --text: rgb(0 0 0 / 85%);
  --sub-text: rgb(0 0 0 / 65%);
  --holder: rgb(0 0 0 / 45%);
  --disabled: rgb(0 0 0 / 45%);
  --active: #fa8c16;

  --border: #d9d9d9;
  --bg: #f5f5f5;
  --stroke: #8c8c8c;

  --radius: 4px;

  --shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  outline: none;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
  color: var(--text);
  font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

p {
  line-height: 1.6;
  word-break: break-all;
  font-size: 16px;
}

.container {
  width: 1080px;
  margin: auto;
  padding: 0 8px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  color: #fff;
}

.header__title {
  font-size: 24px;
}

.header__nav {
  display: flex;
  gap: 8px;
}

.topic {
  height: 60vh;
  padding-top: 200px;
  color: #fff;
  transform-origin: top left;
  background-image: linear-gradient(165deg, var(--primary) 0%, #d46b08 74%);
  transform: skewY(-5deg);
  box-shadow: var(--shadow);
}

.topic__body {
  transform: skewY(5deg);
}

.topic__title {
  font-size: 36px;
}

.topic__content {
  margin-bottom: 40px;
  font-size: 20px;
  color: rgb(255 255 255 / 75%);
}

.topic__btn {
  height: 48px;
  padding: 0 18px;
  color: #fff;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  border-radius: 9999px;
  cursor: pointer;
  background: rgb(255 255 255 / 15%);
  transition: all 0.25s;
  box-shadow: 0 2px #0000000b;
}

.topic__btn:hover {
  background: #fff;
  color: var(--text);
}

.detail {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  padding-top: 32px;
  font-size: 16px;
  color: var(--sub-text);
}

.detail__content {
  margin-top: 8px;
}

.detail__title {
  font-size: 22px;
}
